<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.noted">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Noted">
        <activity android:name=".Activity_users_downloader">
            <intent-filter>
                <action android:name="android.intent.action.USERSDOWNLOADER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_a_login_registration">
            <intent-filter>
                <action android:name="android.intent.action.REGISTRATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_info_add">
            <intent-filter>
                <action android:name="android.intent.action.ADDINFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_info_change">
            <intent-filter>
                <action android:name="android.intent.action.CHANGEINFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_people_add">
            <intent-filter>
                <action android:name="android.intent.action.ADDPEOPLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_group_add">
            <intent-filter>
                <action android:name="android.intent.action.ADDGROUP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_info_table">
            <intent-filter>
                <action android:name="android.intent.action.TABLEINFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_info_downloader">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOADINFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_people_table">
            <intent-filter>
                <action android:name="android.intent.action.TABLEPEOPLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_people_downloader">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOADPEOPLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_group_table">
            <intent-filter>
                <action android:name="android.intent.action.TABLEGROUP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_group_downloader">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOADGROUP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".LaunchActivity"
            android:theme="@style/Launchtheme">
            <intent-filter>

            <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>